[submodule "cookbooks"]
	path = cookbooks
	url = git@github.com:SeanHolden/cookbooks.git
[submodule "roles"]
	path = roles
	url = git@github.com:SeanHolden/roles.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:SeanHolden/ohmyzsh.git
